#buy {
  align-self: center;
  grid-area: buy;
}

#buy button {
  background: none;
  border: 1px solid gray;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#buy button:hover {
  border-color: black;
}

.buy-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url('./buy.png');
}

#buy button:active {
  border-color: seagreen;
}

.blue-buy {
  display: block;
  outline: 3px dashed royalblue;
  padding: 5px;
}
